.footer {
  background: #071a35;
  color: white;

  padding-top: 55px;
}

.footer-grid {

  display: grid;

  grid-template-columns:
    1.5fr
    1fr
    1fr
    1fr;

  gap: 40px;

  padding-bottom: 45px;

}

.footer h3 {
  margin-top: 0;
}

.footer h4 {
  margin-top: 0;
}

.footer p {
  color: #aebed2;
  font-size: 14px;
}

.footer a {

  display: block;

  color: #aebed2;

  margin: 9px 0;

  font-size: 14px;

  text-decoration: none;

}

.footer a:hover {
  color: white;
}

.footer-bottom {

  border-top: 1px solid #183254;

  text-align: center;

  padding: 20px;

  color: #91a4bc;

  font-size: 13px;

}


@media (max-width: 768px) {

  .footer-grid {

    grid-template-columns: 1fr 1fr;

  }

}


@media (max-width: 500px) {

  .footer-grid {

    grid-template-columns: 1fr;

  }

}