<!-- <footer class="footer">

  <div class="container footer-grid">

    <div>

      <h3>☕ JavaConsultancy</h3>

      <p>
        Java development, training and consulting services
        for developers and businesses.
      </p>

    </div>


    <div>

      <h4>Quick Links</h4>

      <a routerLink="/">Home</a>

      <a routerLink="/services">
        Services
      </a>

      <a routerLink="/features">
        Features
      </a>

      <a routerLink="/about">
        About
      </a>

      <a routerLink="/contact">
        Contact
      </a>

    </div>


    <div>

      <h4>Services</h4>

      <a routerLink="/services/core-java">
        Core Java
      </a>

      <a routerLink="/services/spring-boot">
        Spring Boot
      </a>

      <a routerLink="/services/microservices">
        Microservices
      </a>

      <a routerLink="/services/sql">
        SQL
      </a>

      <a routerLink="/services/docker">
        Docker
      </a>

    </div>


    <div>

      <h4>Contact</h4>

      <p>📧 info@javaconsultancy.com</p>

      <p>📞 +91 90000 00000</p>

      <p>📍 India</p>

    </div>

  </div>


  <div class="footer-bottom">

    © 2026 JavaConsultancy.
    All rights reserved.

  </div>

</footer> -->