<nav class="navbar">

  <div class="nav-container">

    <!-- Logo -->
    <a routerLink="/" class="logo">

      <span class="logo-icon">☕</span>

      <span class="logo-text">
        Java<span>Consultancy</span>
      </span>

    </a>


    <!-- Desktop Menu -->
    <div class="nav-menu">

      <a
        routerLink="/"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{ exact: true }">
        Home
      </a>

      <a
        routerLink="/services"
        routerLinkActive="active">
        Services
      </a>

       <a
        routerLink="/courses"
        routerLinkActive="active">
        Courses
      </a>



      <a
        routerLink="/features"
        routerLinkActive="active">
        Features
      </a>

      <a
        routerLink="/about"
        routerLinkActive="active">
        About
      </a>

      <a
        routerLink="/contact"
        routerLinkActive="active">
        Contact
      </a>

      <a
        routerLink="/contact"
        class="nav-button">
        Get In Touch
      </a>

    </div>

  </div>

</nav>